.container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width:120px;
    margin-right: 10px;
}

.link{
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: #3544ab;
}

.link:visited {
    color: #3544ab;
}
