.wrap{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    flex-wrap: nowrap;
    align-items: baseline;
    width: 200px;
    margin-right: 15px;
}

.avatar {
    display: block;
    width: 35px;
    height:35px;
    margin: auto 5px auto 5px;
}

/* .userBlock{
    display: flex;
    
    width: 100px;
} */

.userName{
    display: inline-block;
    margin: 0px 5px 0px 5px;

    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #3544ab;
    white-space: nowrap;
}

.button{
    display: block;
    font-size: 12px;
    /* margin: 5px; */
}
